<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> | Admin Panel
    </title>
    <meta name="description" content="Admin Panel">
    <meta name="keywords" content="Admin Panel">
    <meta name="author" content="Admin Panel">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <%- block('styles').toString() %>

    <link rel="stylesheet" href="css/admin/auth-style.css">
</head>
<body>
    <%- block('header').toString() %>

    <main>
        <%- body %>
    </main>

    <%- block('footer').toString() %>

    <%- block('scripts').toString() %>
</body>
</html>